.parallax__group-6 {
    position: relative;
    width: 100%;
}


.footer {
    display: flex;
    height: min-content;
    min-height: 400px;
    background-color: var(--background-color);
    align-items: center;
    padding: max(60px, 10vh) 100px max(30px, 5vh);

    .map-wrapper {
        position: relative;
        overflow: hidden;
        width: 38vmax;
        height: 38vmax;
        border-radius: 100%;

        .stroke-map {
            width: max(100%, 350px);
            height: 100%;
        }

        .map-container {
            position: absolute;
            width: max(73%, 228px);
            height: 73%;
            left: 14%;
            top: 13.6%;
            bottom: 0;
            right: 0;
            border-radius: 100%;
            border: 2px solid white;
            overflow: hidden;
            .yandex-map {
                position: absolute;
                height: 200%;
                width: 200%;
                left: -50%;
                top: -50%;
            }
        }
    }

    .info {
        padding: 40px 0 40px 50px;
        flex-direction: column;
        flex: 1;
        color: white;
        overflow: hidden;


        .contacts {
            .title {
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 120%;
            }

            ul {
                padding: 0;
            }

            li {
                list-style-type: none;
                height: 7vh;
                display: flex;
                align-items: center;

                .logo-wrapper {
                    position: relative;
                    width: 4vw;
                    margin-right: 10px;

                    .logo {
                        width: 9vw;
                        height: 9vw;
                    }
                }

                a {
                    color: white;
                }
            }
        }

        .location {

            .title {
                font-style: normal;
                font-weight: 700;
                font-size: 40px;
                line-height: 120%;
            }

            h4 {
                margin: 20px 0 0;
                font-weight: normal;
            }

            .text {
                position: relative;
                z-index: 10000;
                color: white;
            }
        }
    }
}

@media screen and (max-width: 920px) {
    .footer {
        display: flex;
        flex-direction: column;
        padding: 20px 0 0 0;
        color: white;
        height: auto;
        position: relative;
        align-items: flex-start;

        .contacts-m {
            display: flex;
            flex-direction: row;
            padding: 0 0;
            margin: 0 30px;

            .title-m {
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 120%;
            }

            ul {
                padding: 0;
                margin: 0 0 0 10px;

                li {
                    list-style-type: none;
                    height: 34px;
                    display: flex;
                    align-items: center;
                    font-size: 14px;

                    .logo-wrapper {
                        position: relative;
                        width: 30px;
                        margin-right: 10px;

                        .logo {
                            width: 82px;
                            height: 82px;
                        }
                    }
                }
            }
        }

        .location-m {
            display: flex;
            flex-direction: column;
            z-index: 1000;
            margin: 20px 30px 0 30px;

            .info-m {
                flex: 1;
                display: flex;
                flex-direction: column;
                padding: 20px 0 20px 0;
                align-items: flex-start;

                .title {
                    font-size: 16px;
                    text-align: end;
                    font-weight: bold;
                }

                h5 {
                    margin: 0;
                    font-size: 10px;
                    font-weight: normal;
                    display: flex;
                    text-align: start;
                }

                @media screen and (min-width: 500px) {
                    .title {
                        font-size: 24px;
                    }

                    h5 {
                        font-size: 16px;
                    }
                }
            }
        }

        .map-wrapper-m {
            display: flex;
            width: 100%;
            height: 30vh;
            overflow: hidden;

            .map-container-m {
                width: 100%;
                height: 100%;

                .yandex-map {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}