header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 61px;
    width: 100%;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

.header-item {
    height: 100%;
    text-align: center;

    color: white;
    text-decoration: none;
    font-size: 14px;
}

.header-logo {
    height: 60%;
    margin-right: 50px;
}

.header-item,
.header-logo {
    display: flex;
    align-items: center;
}