.wrapper {
    height: 15vh;
    display: flex;
    align-items: center;
    position: relative;
    width: 200%;
    justify-content: center;

    .shadow {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        box-shadow: inset 0 0 20px 20px rgba(0, 0, 0, 0.21);
        z-index: 200;
        background-color: var(--background-color);

    }
}

.marquee,
.marquee2 {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 100%;
    z-index: 2025;
    justify-content: space-evenly;

    .loop-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        z-index: 1001;

        .title {
            color: white;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
        }

        .logo-container {
            height: 60%;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 4vw;

            a {
                height: 100%;
                display: flex;
                align-items: center;

                .logo {
                    height: 60%;
                    width: auto;
                }
            }
        }
    }
}

.marquee {
    animation: marquee 11s linear infinite;
    left: 0;
}

.marquee2 {
    animation: marquee2 11s linear infinite;
    left: auto;
    right: 0;
}

@media screen and (max-width: 1100px) {
    .wrapper {
        height: 105px;
        width: 1460px;
    }

    .marquee,
    .marquee2 {
        gap: 40px;

        .loop-group {
            .title {
                font-size: 14px;
            }

            .logo-container {
                height: 63px;
                gap: 20px;

                .logo {
                    height: 100%;
                }
            }
        }
    }

    .marquee2 {
        left: 1460px;
    }
}

@keyframes marquee {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes marquee2 {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

@media screen and (max-width: 850px) {
    @keyframes marquee {
        0% {
            transform: translate3d(0, 0, 0);
        }
        100% {
            transform: translate3d(0, 0, 0);
        }
    }
    @keyframes marquee2 {
        0% {
            transform: translate3d(0, 0, 0);
        }
        100% {
            transform: translate3d(0, 0, 0);
        }
    }

    .wrapper {
        width: 100%;
        display: flex;
        height: auto;
    }
    .marquee {
        display: flex;
        position: relative !important;
        flex-direction: column;
        height: auto;
        width: 90%;

        .loop-group {
            text-align: center;
            .title {
                margin-top: 10px;
                margin-bottom: 20px;
                font-size: 16px;
            }
            .logo-container {
                justify-content: center;
                flex-wrap: wrap;
                height: auto;

                .logo {
                    width: 100%;
                }
            }
        }
        .loop-group:first-child {
            margin-top: 40px;
        }
        .loop-group:last-child {
            margin-bottom: 40px;
        }
    }


    .marquee2 {
        display: none;
    }
}