
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-color);
    overflow: hidden;
    position: relative;
}


.parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--background-color);
    position: relative
}

.parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.parallax__layer--base {
    transform: translateZ(0);
}

.parallax-padding {
    left: 100px;
    right: 100px;
}

@media screen and (max-width: 999px) {
    .parallax-padding {
        left: 30px;
        right: 30px;
    }
}

.parallax__layer--back {
    transform: translateZ(-1px);
}

.parallax__group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
}

.backtop-wrapper {
    display: none;
    position: sticky;
    left: 90%;
    top: 90%;
    z-index: 100000000;
    height: 0;
    width: 0;

    .backtop {
        position: absolute;
        width: 40px;
        height: 40px;
        cursor: pointer;
    }
}

@media screen and (max-width: 760px) {
    .backtop-wrapper {
        left: 80%;
    }
}

.gradient {
    background: var(--linear-gradient-1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.sign-up-link-button {
}


