:root {
    --background-color: #262525;
    --grey-color-1: #a8a8a8;
    --linear-gradient-1: linear-gradient(89.91deg, #00E0FF -1.02%, #00FA9C 99.96%);

    --header-height: 7vh;
    --header-background-color: #484444;

    --page-content-padding: 100px;
    --page-content-padding-mobile: 30px;
}